@media (max-width: 1200px){
    .carousel {
        .prev, .next {
            display: none;
        }
        .tns-item {
            img{
                width: 100%;
            }
        }
    }
    .catalog {
        &-item {
            margin: 20px;
        }
        &__content {
            justify-content: center;
        }
    }
}

@media (max-width: 991px){
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            align-items:center;
        }
    }
    .advantages {
        &__wrapper {
            justify-content: space-evenly;
        }
    }
    .consultation {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items:center;
            .title {
                text-align: center;
                font-size: 30px;
                padding-bottom: 16px;
            }
        }

    }
    .reviews {
        &__item {
            margin-left: 30px;
        }
    }
    
}

@media ( max-width: 767px){
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        min-height: 325px;
        padding: 11px 0 46px 0;
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantages {
        padding: 36px 0 41px 0;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-bottom: 40px;
            max-width: 400px;
        }
        .title {
            font-size: 23px;
        }
        &__icon {
            width: 84px;
            height: 78px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .consultation {
        padding: 50px 0 46px 0;
        &__wrapper {
            .tittle{
                font-size: 20px;
            }
        }
        &__descr {
            font-size: 17px;
        }
    }
    .carousel {
        padding: 41px 0;
    }
    .catalog {
        &__tabs {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
        }
        &__tab {
            margin: 10px 0;
        }
        &__content {
            margin-top: 30px;
        }
    }
}

@media ( max-width: 575px){
    .promo {
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            display: none;
        }
        .header {
            &__phone {
                font-size: 12px;
            }
            .button {
                width: 110px;
                height: 22px;
                font-size: 10px;
            }
            &__logo {
                img {
                    width: 70%;
                }
            }
        }
       
    }
    .consultation {
        &__wrapper {
            .title {
                font-size: 23px;
            }
        }
        &__descr {
            text-align: center;
        }
    }
    .reviews {
        &__item {
            display: flex;
            flex-direction: column;
            align-items:center;
            img {
                width: 169px;
                margin-bottom: 10px;
            }
        }
        &__subtitle {
            text-align: center;
        }
        &__count {
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 100%;
            height: 250px;
        }
        &__address {
            margin-top: 25px;
        }
    }
    .overlay {
        .modal {
            &__close {
                right: 10px;
                top: 10px;
            }
        }
    }
}